<h1>Archive</h1>
<%= link_to "View all", "/tasks/archives/all" %>
<%= link_to "Urgent & Important", "/tasks/archives/UI" %>
<%= link_to "Urgent, Not Important", "/tasks/archives/UNI" %>
<%= link_to "Not Urgent, Important", "/tasks/archives/NUI" %>
<%= link_to "Not Urgent, Not Important", "/tasks/archives/NUNI" %>