<div id="center-block">
    <h1>Update Profile <i class="ion-loading-a"></i></h1><br>

    <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |error| %>
                <li><%= error %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form_for @user do |f| %>
        <div class="form-group">
            <%= label_tag ' Picture:', nil, :class => 'ion-ios7-camera' %>
            <%= f.url_field :image, :placeholder => 'url eg: http://www.example.com', :class => 'form-control' %>
        </div>
    
        <div class="form-group">
            <%= label_tag ' About:', nil, :class => 'ion-heart' %>
            <%= f.text_area(:about, size: '100x5', :placeholder => 'write something about you', :class => 'form-control') %>
        </div>

        <div class="form-group">
            <%= label_tag ' Email:', nil, :class => 'ion-email' %>
            <%= f.email_field :email, :placeholder => 'optional', :class => 'form-control' %>
        </div>

        <div class="form-group">
            <%= label_tag ' Location:', nil, :class => 'ion-location' %>
            <%= f.text_field :location, :placeholder => 'eg: Sydney, Australia', :class => 'form-control' %>
        </div>

        <%= f.submit class: 'btn btn-success'%>
    <% end %>
</div>