<!DOCTYPE html>
<html lang="en">
<head>
  <title>Effy - make your time worth</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand grow-rotate" href="/tasks/new"><span>Effy</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%== intellinav %>
      </ul>

      
      <% if @current_user %>
        <kbd class="ion-speakerphone wobble-vertical" id="kbd">   Welcome Back <em><strong><%= @current_user.name %></strong></em> !</kbd>
      <% end %>
      

      <ul class="nav navbar-nav navbar-right">
        <li><a href="" class="<%= weather_icon(session[:weather]) %> grow disable wobble-vertical" id="weather"></a></li>
        <li><a href="" class="grow wobble-vertical tooltip-bottom" data-tooltip="<%= session[:location] %> <%= session[:description] %>" id="weather"> <%= session[:celcius] %>°c</a></li>
        <li><a href="" class="disable"></a></li>
        <li class="social"><a href="http://www.facebook.com/nixsiow.yk" target="_blank" class="ion-social-facebook grow" id="social"></a></li>
        <li class="social"><a href="http://www.twitter.com/nixsiow" target="_blank" class="ion-social-twitter grow" id="social"></a></li>
        <li class="social"><a href="http://plus.google.com/+nixsiow" target="_blank" class="ion-social-googleplus grow" id="social"></a></li>
        <li class="social"><a href="http://www.github.com/nixsiow" target="_blank" class="ion-social-github grow" id="social"></a></li>
        <li><a href="" class="disable"></a></li>
        <li><a href="" class="disable"></a></li>
        <li class="social"><div class="ribbon-wrapper-blue">
          <div class="ribbon-blue">BETA</div>
        </div></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="yield_container">
      <%= yield %>
  </div>

  <div id="footer" class="center-block">
    <kbd id="kbd" class="tooltip-right pop" data-tooltip="✉ Email me: nixsiow @gmail.com"><small>Effy - by Nix S.</small></kbd>
  </div>

</body>
</html>
